:root{
    --background-color:#fff;
    --text-color:#555;
    --title-color:#000
}
.dark-theme{
    --background-color:#000;
    --text-color:#999;
    --title-color:#fff;
}
body{
    margin: 0;
    padding: 0;
    background: var(--background-color);
    color: var(--text-color);
}
.btn{
    background: #4864ff;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 135px;
}
.btn img{
    width: 25px;
    margin-left: 10px;
}
.cabeca{
    background-color: rgb(37, 148, 83);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;   
}

.lista1{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    gap: 0 10px;
    color: white;
    margin: 0;
    margin-bottom: 13px;
}
.topo{
    text-align: center;
    color: white;
    margin: 13px 0px;
    font-weight: bold;
    font-size: 22px;
}
.ultimas{
    margin-left: 10px;
}
.container{
    display: flex;
    justify-content: space-around;
    gap: 0 10px;
    padding: 0 10px;
}
.noticia{
    box-shadow: 0 4px 8px rgba(3, 0, 0, 0.1);
    border-radius: 0px;
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: white;
     
}
.h4pnot1{
    margin: 10px;
    margin-bottom: -2px;
}
.container2{
    display: flex;
    margin: 0;
    gap: 20px 20px;
    padding: 10px;
}
.tituloimagem{
    margin-left: 10px;
}
.imagemprincipal{
    flex-grow: 3;
}
.imagemprincipal img{
    width: 100%;
}
.imagem2{
    width: 20%;
}
.titulosecundario{
    text-align: center;
    margin: 0;
    margin-bottom: 5px;
}
.imagemsecundaria{
   width: 100%;
}
.data{
    opacity: 60%;
}
.container-cards{
    box-shadow: 0 4px 8px rgba(20, 0, 0, 0.1);
    background-color: white;
    width: 20%;
    border-radius: 5px;
}
.lista2{
    list-style-type: none;
}
.containerf{
    background-color: rgb(54, 48, 48);
    display: flex;
    margin: 0;
    justify-content: space-around;
    color: white;
}
.redessociais{
    list-style-type: none;
    display: flex;
    gap: 0 10px;
    color: rgb(39, 133, 39);
}
.redes{
    text-align: center;
}
.borda{
    width: 2px;
    height: 15px;
    background-color: white;
    border: 1px;
    border-color: white;
    
}